body {
    margin: 0 3%;
    font-family: sans-serif;
}

html, body {
    color-scheme: light dark;
}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#disruptions {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    text-align: left;
    white-space: pre-line;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
